.user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.user-list .card {
    width: 500px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.links {
    position: absolute;
    top: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
}