.message-list {
    height: 500px;
    overflow: auto;
}

.messages-divider {
    display: flex;
    justify-content: center;
}

.messages-divider .badge {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}