.user-editor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.user-editor .card {
    padding: 40px;
}

.alert {
    position: absolute;
    top: 100px;
    right: 100px;
}